<h1>Отчёт о работе</h1>

<table class="main">
  <thead>
  <tr>
    <th rowspan="2">Сотрудник</th>
    <th colspan="5">Задачи</th>
    <th colspan="2" rowspan="2">Итого за неделю</th>
  </tr>
  <tr>
    <th>Пн</th>
    <th>Вт</th>
    <th>Ср</th>
    <th>Чт</th>
    <th>Пт</th>
  </tr>
  </thead>
  <tbody>
  <%
     # I don't like logic and trash in views but anyway…
     # TODO: move logic into some model
     group_issue_count = {}
     group_spent_count = {}
     day_issue_count = {}
     day_spent_count = {}

     @reports.each do |report|
       week_issue_count = {}
       week_spent_time = {}
  %>
      <tr>
        <td class="user_name"><%= report[:user_name] %></td>

        <%
           report[:days].each do |day|
             user_issue_count = 0
             user_spent_count = 0.0
        %>

            <td class="day">
              <% if day[1].size > 0 %>
                  <table>
                    <%
                       # Init of day's counts
                       unless day_issue_count[day[0]]
                         day_issue_count[day[0]] = {}
                       end
                       unless day_spent_count[day[0]]
                         day_spent_count[day[0]] = {}
                       end

                       # Issues by type
                       day[1].each do |issue_type|
                         # User count
                         user_issue_count = user_issue_count + issue_type[1].size

                         # Day count
                         unless day_issue_count[day[0]][issue_type[0]]
                           day_issue_count[day[0]][issue_type[0]] = 0
                         end
                         day_issue_count[day[0]][issue_type[0]] = day_issue_count[day[0]][issue_type[0]] + issue_type[1].size

                         # Week count
                         unless week_issue_count[issue_type[0]]
                           week_issue_count[issue_type[0]] = 0
                         end
                         week_issue_count[issue_type[0]] = week_issue_count[issue_type[0]] + issue_type[1].size
                    %>
                        <tr>
                          <td class="issue_type" colspan="2"><%= issue_type[0] %> (<%= issue_type[1].size %>)</td>
                        </tr>
                        <%
                           # Issues
                           issue_type[1].each do |issue|
                             # User count
                             user_spent_count = user_spent_count + issue[1].to_f

                             # Day count
                             unless day_spent_count[day[0]][issue_type[0]]
                               day_spent_count[day[0]][issue_type[0]] = 0.0
                             end
                             day_spent_count[day[0]][issue_type[0]] = day_spent_count[day[0]][issue_type[0]] + issue[1].to_f


                             # Week count
                             unless week_spent_time[issue_type[0]]
                               week_spent_time[issue_type[0]] = 0.0
                             end
                             week_spent_time[issue_type[0]] = week_spent_time[issue_type[0]] + issue[1].to_f
                        %>
                            <%= show_issue_tr(issue, day[0]) %>
                        <% end %>
                    <% end %>
                    <tr>
                      <td class="other">Итого (<%= user_issue_count %>)</td>
                      <td class="spent_time"><%= user_spent_count %></td>
                    </tr>
                    <tr>
                      <td class="other">Норма 8 часов</td>
                      <td class="spent_time"><%= "%.0f" % (user_spent_count / 8 * 100) %>%</td>
                    </tr>
                  </table>
              <% end %>
            </td>
        <% end %>

        <td class="week">
          <table>
            <%
               week_issue_count.each do |issue_count|
                 # Group count
                 unless group_issue_count[issue_count[0]]
                   group_issue_count[issue_count[0]] = 0
                 end
                 unless group_spent_count[issue_count[0]]
                   group_spent_count[issue_count[0]] = 0.0
                 end

                 group_issue_count[issue_count[0]] = group_issue_count[issue_count[0]] + issue_count[1]
                 group_spent_count[issue_count[0]] = group_spent_count[issue_count[0]] + week_spent_time[issue_count[0]]
            %>
                <tr>
                  <td class="week_type"><%= issue_count[0] %></td>
                  <td class="spent_time"><%= issue_count[1] %></td>
                  <td class="spent_time"><%= week_spent_time[issue_count[0]] %></td>
                </tr>
            <% end %>
            <tr>
              <td>Итого:</td>
              <td class="spent_time"><%= week_issue_count.values.inject(0){|sum,x| sum+x} %></td>
              <td class="spent_time"><%= week_spent_time.values.inject(0){|sum,x| sum+x} %></td>
            </tr>
            <tr>
              <td colspan="2">Норма</td>
              <td class="spent_time"><%= "%.0f" % (week_spent_time.values.inject(0){|sum,x| sum+x} / 40 * 100) %>%</td>
            </tr>
          </table>
        </td>
      </tr>
  <% end %>
  <tr>
    <td class="user_name">Итого по отделу</td>
    <% day_issue_count.each do |day| %>
        <td>
          <table>
            <% day[1].each do |issue| %>
            <tr>
              <td class="week_type"><%= issue[0] %></td>
              <td class="spent_time"><%= issue[1] %></td>
              <td class="spent_time"><%= day_spent_count[day[0]][issue[0]] %></td>
            </tr>
            <% end %>
            <tr>
              <td>Итого:</td>
              <td class="spent_time"><%= day[1].inject(0){|sum,x| sum+x[1]} %></td>
              <td class="spent_time"><%= day_spent_count[day[0]].inject(0){|sum,x| sum+x[1]} %></td>
            </tr>
            <tr>
              <td colspan="2">Норма</td>
              <td class="spent_time"><%= "%.0f" % (day_spent_count[day[0]].inject(0){|sum,x| sum+x[1]} / 8 / @reports.size * 100) %> %</td>
            </tr>
          </table>
        </td>
    <% end %>
    <td>
      <table>
        <% group_issue_count.each do |group| %>
            <tr>
              <td class="week_type"><%= group[0] %></td>
              <td class="spent_time"><%= group[1] %></td>
              <td class="spent_time"><%= group_spent_count[group[0]] %></td>
            </tr>
        <% end %>
        <tr>
          <td>Итого</td>
          <td class="spent_time"><%= group_issue_count.inject(0){|sum,x| sum+x[1]} %></td>
          <td class="spent_time"><%= group_spent_count.inject(0){|sum,x| sum+x[1]} %></td>
        </tr>
        <tr>
          <td colspan="2">Норма</td>
          <td class="spent_time"><%= "%.0f" % (group_spent_count.inject(0){|sum,x| sum+x[1]} / 40 / @reports.size * 100) %>%</td>
        </tr>
      </table>
    </td>
  </tr>
  </tbody>
</table>